pipeline/PL_GETMETADATA_IF.json
{
	"name": "PL_GETMETADATA_IF",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata1').output.size, 5242880)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "no such file found",
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "*.parquet",
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "BusinessEntityID",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "BusinessEntityID",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Title",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LastName",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "JobTitle",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "JobTitle",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Department",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Department",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "GroupName",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "GroupName",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "StartDate",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "StartDate",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet4",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet5",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_OUTPUT_PARQUET",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-09T19:58:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}